@use "sass:color";

.main-section {
  @extend .pt-10;
  .container--border {
    padding-bottom: 135px;
    border-bottom: 1px solid $stroke-color;
  }
  &__heading {
    max-width: 336px;
  }
  &__image {
    display: block;
    width: 100%;
    height: auto;
  }
  &__content {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  &__title {
    padding-bottom: 8px;
  }
  &__text {
    max-width: 470px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
  &__list-item {
    @extend .text, .text--medium, .text--dark-gray;
    display: flex;
    align-items: center;
    column-gap: 16px;
  }
  &__list-marker {
    @extend .circle, .circle--light-accent, .circle--32;
    flex-shrink: 0;
  }
  .main-btn {
    align-self: flex-start;
    margin-top: 14px;
  }
  &__left-col {
    max-width: 470px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  &__left-col-title {
    padding-bottom: 11px;
  }
  &__right-col {
    display: grid;
    grid-auto-columns: min-content 1fr;
    row-gap: 32px;
    column-gap: 54px;
    padding-top: 40px;
    align-items: center;
  }
  &__right-col-content-subtitle {
    @extend h1;
    grid-column-start: 1;
  }
  &__right-col-content-title {
    grid-column-start: 2;
  }
}
