.new-look {
  padding-bottom: 200px;
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-top: 76px;
  }
  &__title {
    padding-bottom: 6px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
  &__list-item {
    @extend .text, .text--medium, .text--dark-gray;
    display: flex;
    align-items: center;
    column-gap: 16px;
  }
  &__list-marker {
    @extend .circle, .circle--light-accent, .circle--32;
    flex-shrink: 0;
  }
  &__image {
    display: block;
    width: 100%;
    height: auto;
  }
}
