.statistics {
  padding-bottom: 140px;
  &__block {
    padding: 40px 45px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border: 1px solid $stroke-color;
    h3 {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
