@import "../utils/helpers";

.check {
  $root: &; // $root === .check
  display: inline-flex;
  column-gap: 8px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;

  &__input {
    @extend %visually-hidden;
    &:checked + .check__box {
      box-shadow: none;
      background-size: 10px 8px, 200% 200%;
    }
    &:focus,
    &:hover:not(:disabled) {
      & + #{$root}__box {
        box-shadow: inset 0 0 0 1px $light--accent;
      }
    }
    &:disabled {
      & + #{$root}__box,
      & ~ #{$root}__text {
        opacity: 0.5;
      }
    }
  }
  &__box {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px #cccccc;
    background-color: $light;
    background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 8'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='m0 4.35 1.4-1.4 1.95 2.07L8.3 0l1.4 1.4-6.35 6.45L0 4.35Z' fill='%23fff'/%3E%3C/svg%3E"),
      radial-gradient(circle at 50%, $light--accent 50%, transparent 0);
    background-repeat: no-repeat;
    background-size: 0 0;
    background-position: 50% 50%;
    transition-property: background-size;
    transition-duration: $animation-duration;
    transition-timing-function: cubic-bezier(0, 0.5, 0.28, 1.2);
  }
  &__text {
    @extend .text;
    color: $dark;
  }
}
