$dark: #391400;
$light: #fff;
$dark--gray: rgba($dark, 0.64);
$light--gray: rgba($light, 0.64);
$light--accent: #EF6D58;
$dark--accent: #B550F8;
$animation-duration: 0.3s;
$light-bg: #FDF0E9;
$dark-bg: #28293C;
$stroke-color: #F3D1BF;
