@use "sass:color";

$sizes: 12, 16, 32, 48, 64, 72, 80, 148;

.comment {
  display: flex;
  align-items: center;
  column-gap: 16px;
  &__image {
    display: block;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    @each $s in $sizes {
      &--#{$s} {
        max-width: #{$s}px;
      }
    }
  }
}
