@import "../utils/helpers";

body {
  font-family: "Epilogue", sans-serif;
  color: $dark;
  background-color: $light-bg;
}

// .container {
//   max-width: 1200px;
//   margin-left: auto;
//   margin-right: auto;
//   padding-inline: 15px;
// }

.svg-settings {
  @extend %visually-hidden;
}
