@import "../utils/helpers";

* {
  box-sizing: border-box;
}

body {
  font-family: "Epilogue", sans-serif;
  color: $dark;
  background-color: $light-bg;
}

.svg-settings {
  @extend %visually-hidden;
}
